@font-face {
   font-family: "a Akhir Tahun";
   src: url("fonts/Akhir Tahun.woff") format("woff"), url("fonts/Akhir Tahun.eot") format("embedded-opentype"), url("fonts/Akhir Tahun.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}